<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Príklady", priklads_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Nový príklad</div>
  </div>
</div>

<div class="ui grid">
  <div class="fourteen wide column"><h1>Nový príklad</h1></div>
  <div class="column">
    <h1>
      <%= link_to priklads_path do %>
          <i class="ui large right aligned arrow circle outline left link icon"></i>
      <% end %>
    </h1>
  </div>
</div>

<%= render 'form' %>

