.m-t-1{
  margin-top: 1em !important;
}
.m-t-2{
  margin-top: 2em !important;
}

.m-b-1{
  margin-bottom: 1em !important;
}
.m-b-2{
  margin-bottom: 2em !important;
}

.ui.container {
  min-width: 900px;
}

.ui.segment{
  margin-bottom: 2rem !important;
}

h1{
  margin-bottom: 1em !important;
}

.ui.form input, .ui.form select {
  max-width: 300px;
}

.label-required::after{
  content: ' *'
}

div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter{
  margin-bottom: 1em;
  select {
    min-height: auto;
  }
  input[type="search"], select {
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.2142em;
    padding: 0.67861429em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
  }
}

div.dataTables_wrapper {
  div.dataTables_length select{
    padding: 0.5em;
  }
  div.dataTables_filter {
    margin-bottom: 1em;
    input {
      padding: 0.5em !important;
    }
  }
}


#vyber-priklad_wrapper {
    label {
      font-weight: bold;
    }
    input[type='search'], select {
      width: 200px;
      padding: 0.2em !important;
      margin-left: 1em;
    }
    .select-group{
      margin-bottom: 1em;
      label, select{
        display: inline-block;
      }
    }
    #vyber-priklad_length {
      display: none;
    }
    #vyber-priklad_filter{
      width: 100%;
      float: none;
      text-align: left;
    }
}

form.no-break br{
  display: none;
}

fieldset{
  border: 1px solid #BBBBBB;
  padding: 2em 1em !important;
  margin-bottom: 2em !important;
  legend{
    color: #999999;
    font-size: 18px;
    padding: 0 0.2em;
    font-weight: bold;
  }
}

.link-border{
  max-width: 200px;
  display: block;
  border: 1px solid #E0E1E2;
  border-radius: 0.28571429rem;
  padding: 0.78571429em 1.2em 0.78571429em;
  color: rgba(0, 0, 0, 0.8);
  &:hover{
    background-color: #E0E1E2;
    color: rgba(0, 0, 0, 0.8);
  }
}




