<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Riešitelia</div>
  </div>
</div>

<% if notice == 'riesitel_delete' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Riešiteľ bol úspešne odobraný.
        </div>
      </div>
    </div>
<% elsif notice == 'riesitel_not_selected' %>
    <div class="ui red icon message">
      <i class="warning sign icon"></i>
      <div class="content">
        <div class="header">
          Nevybrali ste žiadneho riešiteľa.
        </div>
      </div>
    </div>
<% elsif notice == 'riesitel_add' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Riešitelia boli úspešne pridaní.
        </div>
      </div>
    </div>
<% elsif notice == 'riesitel_update' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Riešiteľ bol úspešne upravený.
        </div>
      </div>
    </div>
<% end %>

<div class="ui grid">
  <div class="fourteen wide column"><h1>Riešitelia</h1></div>
  <div class="column">
    <h1>
      <%= link_to new_riesitel_path do %>
          <i class="ui large right aligned green plus circle link icon"></i>
      <% end %>
    </h1>
  </div>
</div>

<%= render 'add_riesitels_to_seria' %>